<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Mackerels Musings</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main>
        <h1>Welcome to My Musings</h1>
        <p>Hi...I'm Alix, a software engineer who lives in the backend, loves Rust (sometimes Python) and needed an outlet to focus my ideas.</p>
        <div hx-get="/redirect?target=github">github</div>
        <div hx-get="/redirect?target=linkedin">linkedIn</div>
    </main>
  </body>
</html>

